@tailwind base;
@tailwind components;
@tailwind utilities;

#sideMenu .ant-menu-light .ant-menu-item-selected {
	background-color: #4880ff;
	color: white;
}

#sideMenu > ::-webkit-scrollbar {
	width: 5px;
}
#sideMenu > ::-webkit-scrollbar-track {
	background: #b5b5b5;
	border-radius: 5px;
}
#sideMenu > ::-webkit-scrollbar-thumb {
	background: #4880ff;
	border-radius: 5px;
}

.lang .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
	border: 0;
}

.lang
	.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
		.ant-pagination-size-changer
	)
	.ant-select-selector {
	border: 0;
	box-shadow: none;
}

.date-filter .ant-picker .ant-picker-input > input::placeholder {
	color: black;
}

.bg-img {
	background-image: url("/image/pageBG.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.type-picker input[type="checkbox"]:checked + label {
	background-color: #4880ff;
	color: white;
}
.type-picker label {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #4880ff;
	text-align: center;
	background-color: white;
	line-height: 32px;
	border-radius: 32px;
	border: 1px solid #4880ff;
	font-weight: 600;
}
.type-picker label:hover,
input[type="checkbox"]:checked + label:hover {
	cursor: pointer;
	background-color: #4880ff;
	color: white;
}

.status-picker input[type="checkbox"]:checked + label {
	background-color: #4880ff;
	color: white;
}
.status-picker label {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #4880ff;
	text-align: center;
	background-color: white;
	line-height: 32px;
	border-radius: 32px;
	border: 1px solid #4880ff;
	font-weight: 600;
}
.status-picker label:hover,
input[type="checkbox"]:checked + label:hover {
	cursor: pointer;
	background-color: #4880ff;
	color: white;
}

.cardBG {
	background-image: url("/image/cardPattern.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
