@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-light .ant-menu-item-selected {
	background-color: #4880ff;
	color: white;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
	border: none;
}
